<% if model.errors.any? %>
<div id="error_explanation" class="alert alert-warning">
    <ul class="mb-0">
        <% model.errors.full_tasks.each do |tasks| %>
        <li>
            <%= task %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>